<% include ../partials/header %>

<div class="container">
	<h1><%= place.name %></h1>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item low-weight">
					<h4>Rating</h4>
					
					<% if (place.rating === 0) {  %>
						<p>No rating yet</p>
					<% } else { %>
						<p>						
							<% for (var i = 0; i < Math.round(place.rating); i++) {  %>
								<i class="fa fa-star" aria-hidden="true"></i>
							<% } %>

							<% for (var i = 0; i < 5 - Math.round(place.rating); i++) {  %>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							<% } %>
						</p>
					<% } %>
					
					<p><%= place.reviews.length %> reviews</p>
				</li>
				
				<li class="list-group-item low-weight">
					<h4>Address</h4>
					<p>
						130 W 55th St
						<br>
						New York, NY 10019
					</p>
				</li>

				<li class="list-group-item low-weight">
					<h4>Description</h4>
					<p><%= place.description %></p>
				</li>
			</div>

			<!-- Only show edit and delete place buttons if current user is author of this place -->
			<div class="edit-delete-place-buttons">
				<% if (user && place.author && place.author.equals(user._id)) { %>
					<p>
						<a class="btn btn-warning" href="/places/<%= place._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit <%= place.name %></a>
					</p>
					<p>
						<form class="delete-form" action="/places/<%= place._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete <%= place.name %></button>
						</form>
					</p>
				<% } %>
			</div>
		</div>

		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= place.image %>">
			</div>

			<h3 class="inline">Reviews</h3>

			<a class="btn btn-success float-right" href="/places/<%= place._id %>/reviews/new">Add New Review</a>

			<hr>

			<!-- Reviews -->
			<div class="well">
				<% if (place.reviews.length === 0) { %>
					<p>No reviews yet</p>
				<% } else { %>
					<% for (var i = 0; i < place.reviews.length; i++) { %>
						<% for (var j = 0; j < place.reviews[i].rating; j++) {  %>
							<i class="fa fa-star" aria-hidden="true"></i>
						<% } %>

						<% for (var j = 0; j < 5 - place.reviews[i].rating; j++) {  %>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						<% } %>

						<p class="review-content"><%= place.reviews[i].content %></p>
						<p><em>- by <%= place.reviews[i].author.username %></em></p>
						
						<!-- Only show edit and delete review buttons if current user is author of this review -->
						<% if (user && place.reviews[i].author && place.reviews[i].author.id.equals(user._id)) { %>
							<a class="btn btn-xs btn-warning" href="/places/<%= place._id %>/reviews/<%= place.reviews[i]._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit review</a>
							
							<form class="delete-form" action="/places/<%= place._id %>/reviews/<%= place.reviews[i]._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> delete review</button>
							</form>
						<% } %>

						<% if (i < place.reviews.length - 1) { %>
							<hr>
						<% } %>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>